{{- if .Values.backend.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "signalen.backend.fullname" . }}
  labels:
    {{- include "signalen.backend.labels" . | nindent 4 }}
type: Opaque
data:
  DATABASE_PASSWORD: {{ .Values.postgresql.password | b64enc | quote }}
  EMAIL_HOST_PASSWORD: {{ .Values.email.smtp.password | b64enc | quote }}
  OIDC_RP_CLIENT_SECRET: {{ .Values.oidc.clientSecret | b64enc | quote }}
  RABBITMQ_PASSWORD: {{ .Values.rabbitmq.password | b64enc | quote }}
  S3_STORAGE_ACCESS_KEY: {{ .Values.storage.s3.accessKey | b64enc | quote }}
  S3_STORAGE_SECRET_KEY: {{ .Values.storage.s3.secretKey | b64enc | quote }}
  SECRET_KEY: {{ .Values.secretKey | b64enc | quote }}
  SIGMAX_AUTH_TOKEN: {{ .Values.sigmax.authToken | b64enc | quote }}
{{- end }}